@font-face {
    font-family: "Journal Sans New Regular";
    src: local("Journal Sans New Regular"),
        local("JournalSansNewRegular"),
        url("@/assets/fonts/JournalSansNew.woff2") format("woff2"),
        url("@/assets/fonts/JournalSansNew.woff") format("woff"),
        url("@/assets/fonts/JournalSansNew.ttf") format("opentype");
}

body {
    font-family: "Journal Sans New Regular", sans-serif;
    font-weight: normal;
}
